<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="severity" value="error"/>

    <module name="TreeWalker">
        <!-- Naming Conventions -->
        <module name="TypeName"/>
        <module name="MethodName"/>
        <module name="VariableDeclarationUsageDistance"/>

        <!-- Code Style -->
        <module name="WhitespaceAround"/>
        <module name="EmptyBlock"/>
        <module name="NeedBraces"/>

        <!-- Imports -->
        <module name="UnusedImports"/>
        <module name="AvoidStarImport"/>

    </module>
</module>
